section.about {
  display: flex;
}

section.about div.aboutDetail {
  border: 1px solid red;
  display: flex;
  margin: 16px;

}

section.about div.aboutDetail div.aboutPic {
  font-size: 0;
  margin-right: 8px;
}

section.about div.aboutDetail div.aboutText h4 {
  margin: 8px;
  text-align: center;
  font-size: 20px;
}